/* STYLES FOR CUSTOMS MODAL TAB */

.explanationBox {
    border: 1px rgb(150, 150, 199) solid;
    background-color: lavender;
    padding: 16px 10px 0px;
    margin-bottom: 2rem;
}

.customFormBox {
    border: 1px lightgray groove;
    width: 100%;
    height: 16rem;
    padding: 20px 40px;
}

.inputContainer {
    display: flex;
    justify-content: center;
}

.inputColumn {
    margin-right: 20px;
}

.descriptionLabel {
    display: block;
    /* Adjust as needed */
}

.applyButton {
    display: block;
    margin-right: 0;
    margin-left: auto;
}