/** DIMENSION INPUT FORM */

.dimensionInput {
    width: 4rem;
}

.dFlex {
    display: flex;
}

.leftAlignColumns {
    justify-content: flex-start;
}

.noFlex {
    flex: 0 0 auto;
}

.columnPadding {
    margin-right: 3rem;
}

.formLabel {
    font-size: 10px;
    margin-bottom: 0px;
}

.formControl {
    height: 2.5rem;
}
.displayControl {
    background-color: rgb(233, 233, 233) !important;
}
.displayControl:active, .displayControl:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid darkgray;
}

.formButton {
    height: 29.2px;
    text-align: center;
    justify-content: center;
    
}

.formButton p {
    margin-top: 0;
}
