.productModalWidth {
    max-width: 60rem;
}

.productModalBody {
    max-height: 40rem;
    min-height: 40rem;
    margin: 0px 10px 25px 10px;
    position: relative;
}

.productModalTabs {
    justify-content: space-between;
    margin-bottom: 1rem;
}

.productModalTabLink {
    font-size: 0.8em;
    padding: 5px 10px;
    color: gray;
}

.productModalTabLink :hover {
    color: black;
}

.productModalInput {
    height: 5rem;
}

.dropDownEditModalWidth {
    max-width: 40rem;
}

.dropDownEditModalBody {
    max-height: 30rem;
    min-height: 30rem;
    overflow-y: scroll;
}

.editCategoryRow {
    border: 1px black solid;
    margin: 0.1rem;
    height: 3.5rem;
}

.editCategoryRowText {
    margin: 0.5rem;
    display: inline-block;
    width: 65%;
    font-size: large;
    font-weight: bold;
    margin-right: auto;
}

.editCategoryRowButton {
    margin: 0.5rem;
    display: inline-block;
    width: min-content;
}

.editCategoryRowInput {
    display: inline-block;
    width: 65%;
    margin-right: auto;
}

.productPreviewContainer {
    border: 1px black dashed;
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    margin-left: auto;
}

.productPreviewImage {
    width: 7rem;
    height: 7rem;
    margin: auto;
    display: block;
}

.productPreviewContainer:hover {
    cursor: pointer;
}

.smallDescriptionText {
    font-size: 0.8em;
    line-height: 14px;
}

.scrollableTableContainer {
    height: 29.7rem;
    margin-top: 0.5rem;
    /* Adjust the max-height as needed */
    overflow: auto;
    border: 2px solid lightgray;
}

.listingSkuTable {
    width: 100%;
    overflow: scroll;
}

.listingSkuTableBody {
    border-bottom: 1px solid lightgray;
}

.listingSkuTableBody td {
    font-size: 13px;
}

.listingSkuTableH {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
}

.grayButton {
    border-color: #f8f8f8;
    background-color: #f8f8f8;
}

.grayButton:hover {
    background-color: #dddddd;
    color: #4fa2a8;
    border-color: #f0f0f0;
}

.grayButton:active {
    background-color: #dddddd !important;
    color: #4fa2a8 !important;
    border-color: #f0f0f0 !important;
    outline: 0 !important
}

.buttonRow {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 6px;
}

.toggleGreen {
    margin-right: 0.3rem;
    height: auto;
    width: 15px;
}

.toggleRed {
    margin-right: 0.4rem;
    height: auto;
    width: 15px;
}