.productModalWidth {
    max-width: 60rem;
}

.productModalBody {
    max-height: 40rem;
    min-height: 40rem;
    margin: 0px 10px 25px 10px;
    position: relative;
}

.productModalTabs {
    justify-content: space-between;
    margin-bottom: 1rem;
}

.productModalTabLink {
    font-size: 0.8em;
    padding: 5px 10px;
    color: gray;
}

.productModalTabLink :hover {
    color: black;
}

.productModalInput {
    height: 5rem;
}

.dropDownEditModalWidth {
    max-width: 40rem;
}

.dropDownEditModalBody {
    max-height: 30rem;
    min-height: 30rem;
    overflow-y: scroll;
}

.editCategoryRow {
    border: 1px black solid;
    margin: 0.1rem;
    height: 3.5rem;
}

.editCategoryRowText {
    margin: 0.5rem;
    display: inline-block;
    width: 65%;
    font-size: large;
    font-weight: bold;
    margin-right: auto;
}

.editCategoryRowButton {
    margin: 0.5rem;
    display: inline-block;
    width: min-content;
}

.editCategoryRowInput {
    display: inline-block;
    width: 65%;
    margin-right: auto;
}
.productPreviewContainer {
    border: 1px black dashed;
    height: 10rem;
    width: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    margin-left: auto;
    margin-right: auto;
}

.productPreviewImage {
    width: 7rem;
    height: 7rem;
    margin: auto;
    display: block;
}

.productPreviewContainer:hover {
    cursor: pointer;
}