.pricingInputContainer {
    display: flex;
    justify-content: space-between;
}
.pricingInputContainer label {
    width: 10rem;
}
.pricingInputContainer input {
    width: 10rem;
}

.subtotalRow {
    background-color: rgb(255, 176, 176) !important;
}
.pricingFinalPricesContainer {
    display: flex;
    justify-content: space-between;
}