.pricingInputContainer {
    display: flex;
    justify-content: space-between;
}
.pricingInputContainer label {
    width: 10rem;
}
.pricingInputContainer input {
    width: 10rem;
}

.subtotalRow {
    background-color: rgb(184, 255, 200) !important;
}
.pricingFinalPricesContainer {
    display: flex;
    justify-content: space-between;
}
.emptyExpandedRow {
    background-color: rgb(255, 201, 201);
}